
body{
background-image: url('./UI/nbbg.JPG');
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
color :#177e89;
text-transform:uppercase;
font-family:'Nova Flat', cursive;
/* opacity: 0.5; */
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
    

}